:root {
  --primary-color: #1DA1F2;
  --primary-hover: #288ccf;
  --secondary-color: #46aeee;
  --text-primary: #0F1419;
  --text-secondary: #536471;
  --white-hover: #e0e0e0;
}




body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f8fbff;
  
  backdrop-filter: blur(2px);
}