:root {
  --primary-color: #1DA1F2;
  --primary-hover: #288ccf;
  --secondary-color: #46aeee;
  --text-primary: #0F1419;
  --text-secondary: #536471;
  --white-hover: #e0e0e0;
  --bg-primary: #ffffff;
  --bg-secondary: #f7f9fa;
  --bg-hover: #f7f9fa;
  --border-color: #e1e8ed;
  --error-color: #f4212e;
  --retweet-color: #00ba7c;
  --like-color: #f4212e;
}




body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f8fbff;
  
  /* backdrop-filter: blur(2px); */
}